<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="section container is-max-desktop">
  <nav>
    <h1 style="float: left; font-size: 40px"><strong><%= title %></strong></h1>
    <% if (user) { %>
    <a
      href="/cookbooks/<%=cookbook._id%>/recipes/new"
      style="float: right; padding-top: 20px"
      onMouseOver="this.style.color='#5458D2 '"
      onMouseOut="this.style.color='#008000'"
      class="tag is-white"
      title="Add Recipe"
      ><i class="fas fa-plus-square fa-2x"></i
    ></a>
    <%}%>
    <a
      href="/cookbooks/<%= cookbook._id %>"
      style="float: right; font-size: 20px; padding: 10px"
      >Back to Book</a
    >
  </nav>

  <div class="card-main-div">
    <% recipes.forEach(function(r){ %>
    <div class="card-size">
      <article class="message is-info">
        <div class="message-body">
          <div class="card-image card-size-divs">
            <figure class="image">
              <img src="<%= r.imageURL %>" alt="Placeholder image" />
            </figure>
          </div>
          <p><strong><%= r.name %></strong></p>
          <p>
            click
            <a href="/cookbooks/<%= cookbook._id%>/recipes/<%= r._id%>"
              ><em> Here </em></a
            >
            for details
          </p>
        </div>
      </article>
    </div>
    <% });%>
  </div>
</section>

<%- include('../partials/footer') %>
