<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="section container is-max-desktop">
  <nav>
    <a href="/cookbooks/<%= cookbookId %>">Go Back to Your Book</a
    ><span class="space"></span>
    <a href="/cookbooks/<%= cookbookId %>/recipes">Go Back to All Recipes</a
    ><span class="space"></span>
  </nav>
  <br />
  <% if (user) { %>
  <a href="/cookbooks/<%= cookbookId %>/recipes/new"
    >Add Another recipe to this book</a
  ><span class="space"></span>

  <a href="/cookbooks/<%= cookbookId %>/recipes/<%=recipe._id%>/delete"
    >Delete This recipe</a
  ><span class="space"></span>
  <a href="/cookbooks/<%= cookbookId %>/recipes/<%=recipe._id%>/update"
    >Update This recipe</a
  ><span class="space"></span>
  <%}%>

  <br />
  <h1><%= recipe.name %></h1>
  <h2><%= recipe.recipeAuthor %></h2>
  <br />
  <p>Cookbook Name: <%= cookbookTitle %></p>

  <img src="<%= recipe.imageURL %>" class="recipe-image" />
  <br /><br />

  <% if (recipe.ingredients.length) { %>
  <h2>Ingredients:</h2>
  <br />
  <table class="center">
    <thead>
      <tr>
        <% if (user) { %>
        <th>Delete</th>
        <%}%>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <br />
    <tbody>
      <% recipe.ingredients.forEach(function(i) { %>
      <tr>
        <td>
          <a
            href="/cookbooks/<%= cookbookId %>/recipes/<%=recipe._id%>/ingredients/<%=i._id%>?_method=DELETE"
            ><i class="fas fa-times"></i
          ></a>
        </td>
        <td><%= i.ingredient %></td>
        <td><%= i.quantity %></td>
        <% if (user) { %> <%}%>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Ingredients Added Yet</h5>
  <% } %>
  <br />

  <% if (user) { %>
  <form
    id="add-ingredient-form"
    action="/cookbooks/<%= cookbookId %>/recipes/<%=recipe._id%>/ingredients"
    method="POST"
    autocomplete="off"
  >
    <br />
    <label>Ingredients: <input type="text" name="ingredient" /> </label><br />
    <label>Quantity: <input type="text" name="quantity" /> </label><br />
    <input type="submit" value="Add ingredient" />
  </form>
  <% } %>

  <br /><br />

  <% if (recipe.instructions.length) { %>
  <h2>instructions:</h2>
  <ol>
    <% recipe.instructions.forEach(function(i) { %>
    <li>
      <%= i.instruction %> <% if (user) { %>
      <a
        href="/cookbooks/<%= cookbookId %>/recipes/<%= recipe._id %>/instructions/<%= i._id%>?_method=DELETE"
        ><i class="fas fa-times"></i
      ></a>
      <% } %>
    </li>
    <% }); %>
  </ol>
  <%} else { %>
  <h5>No Instructions Added Yet</h5>
  <% } %>

  <br /><br />

  <% if (user) { %>
  <form
    id="add-instruction-form"
    action="/cookbooks/<%= cookbookId %>/recipes/<%=recipe._id%>/instructions%>"
    method="POST"
    autocomplete="off"
  >
    <label>Instructions: <input type="text" name="instruction" /> </label><br />
    <input type="submit" value="Add instruction" />
  </form>
</section>
<% } %> <%- include('../partials/footer') %>
