<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="section container is-max-desktop">
  <nav>
    <h1 style="float: left; font-size: 40px"><strong><%= title %></strong></h1>
    <% if (user) { %>
    <a
      href="/cookbooks/<%= cookbook._id %>/coverpage/update"
      style="float: right; padding-top: 20px"
      onMouseOver="this.style.color='#5458D2 '"
      onMouseOut="this.style.color='#008000'"
      class="tag is-white"
      title="Update Cover Page"
      ><i class="fas fa-edit fa-2x"></i
    ></a>
    <%}%>
    <a
      href="/cookbooks/<%= cookbook._id %>"
      style="float: right; font-size: 20px; padding: 10px"
      >Back to Your Book</a
    >
  </nav>

  <div class="cover-page">
    <br />
    <h1 style="font-size: 40px"><Strong><%= cookbook.title %></Strong></h1>
    <br /><br />
    <img src="<%= cookbook.coverImageURL %>" class="cover-image" />
  </div>
  <br /><br />
</section>

<%- include('../partials/footer') %>
