<%- include('../partials/header') %> <%- include('../partials/nav') %>
<section class="section container is-max-desktop">
  <h2 style="font-size: 30px"><strong>Update Book Details</strong></h2>
  <br />
  <br /><br />
  <form
    id="new-form"
    action="/cookbooks/<%= cookbook._id%>/update"
    method="POST"
    autocomplete="off"
  >
    <label>Title:</label>
    <input type="text" name="title" /> <br /><br />
    <label>Subtitle:</label>
    <input type="text" name="subtitle" /><br /><br />
    <br /><br />
    <input type="submit" value="Update Book" />
  </form>

  <br /><br />
  <a href="/cookbooks/<%= cookbook._id %>/coverpage">Cover Page</a>
  <span class="space"></span>
  <a href="/cookbooks/<%= cookbook._id %>/forewordpage">Foreword Page</a
  ><span class="space"></span>
  <a
    href="/cookbooks/<%= cookbook._id %>/recipes"
    onMouseOver="this.style.color='#F9500C'"
    onMouseOut="this.style.color='#C70039'"
    ><i class="fas fa-carrot fa-2x"></i>Recipes</a
  ><span class="space"></span>
</section>
<%- include('../partials/footer') %>
